.content{
    position: relative;
    display: flex;
    justify-content: center;
}
.content img{
    height:100%;
    width:100%;
    z-index:-1;
}
.pic{
    position: absolute;
    top:44px;
    width:80%;
    height:80%;
}
.pic img{
    width:100%;
    height:100%;
}